<div class="container mt-4 w-100 d-flex justify-content-center">
    <div class="card bg-light w-100">
        <div class="card-header">
            <h3>Configurações de conta</h3>
        </div>
        <form action="/admin/sendAttPass" method="post">
            <div class="card-body">
                <div>
                    <h4>Mudança de senha</h4>
                    <small>Insira seu E-mail de acesso</small>
                </div>
                <div class="mb-3 mt-4">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                    <div class="w-100 d-flex justify-content-center"><button type="submit" class="btn btn-success">Enviar</button></div>
            </div>
        </form>
    </div>
</div>