<div class="container mt-4">
    <form action="/admin/attPassword" method="post">
        <input type="hidden" name="token" value="{{token}}">
        <div class="card bg-light">
            <div class="card-header">
                <h2>Nova Senha</h2>
            </div>
            <div class="card-body">
                <div class="mb-3 p3">
                    <label for="password">Nova Senha</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="mb-3 mt-4">
                    <label for="newPassword">Repita a Senha</label>
                    <input type="password" class="form-control" name="newPassword" id="newPassword">
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex w-100 justify-content-center">
                    <button type="submit" class="btn btn-success">Confirmar</button>
                </div>
            </div>
        </div>
    </form>
</div>