<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medi-file (FAQ)</title>
</head>

<body>
    <div class="container mt-4">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Sobre o Sistema
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>O que é o sistema de cadastro de profissionais de saúde?</strong>
                        <p>
                            O sistema permite que administradores cadastrem, editem e
                            gerenciem profissionais de saúde como médicos, enfermeiros e
                            outros profissionais. Também possibilita o cadastro e
                            gerenciamento de pacientes.
                        </p>
                        <strong>Quem pode acessar o sistema?</strong>
                        <p>O sistema é acessível por administradores, que têm permissões para cadastrar e gerenciar
                            usuários e pacientes, e profissionais de saúde, que podem acessar as informações dos
                            pacientes e realizar consultas.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Cadastro de Profissionais
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Como posso cadastrar um profissional de saúde?</strong>
                        <p>Acesse a seção 'Cadastrar Profissionais' no menu. Preencha os dados solicitados, como nome,
                            CPF, CRM (para médicos), entre outros. Não se esqueça de carregar uma foto de perfil para o
                            profissional.</p>
                        <strong>O que fazer se o CRM informado já estiver cadastrado?</strong>
                        <p>Se o CRM informado já estiver cadastrado, você precisará verificar se o número está correto
                            ou consultar o administrador para resolver o problema. O sistema não permite cadastros
                            duplicados de CRM.</p>
                        <strong>Posso cadastrar um profissional sem CRM?</strong>
                        <p>Sim, você pode cadastrar outros profissionais (como enfermeiros) sem CRM, mas o CRM é
                            obrigatório para médicos.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Cadastro de Pacientes
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Como posso cadastrar um paciente?</strong>
                        <p>Na seção 'Cadastrar Pacientes', insira as informações solicitadas, como nome, CPF, endereço,
                            e qualquer outro dado necessário. Você pode também adicionar histórico médico, se
                            necessário.</p>
                        <strong>O que fazer se o CPF do paciente já estiver cadastrado?</strong>
                        <p>Se o CPF do paciente já existir, o sistema notificará que o cadastro não pode ser duplicado.
                            Verifique os dados inseridos ou consulte o administrador.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Permissões e Acesso
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Qual é a diferença entre os tipos de usuário?</strong> <p>O administrador tem permissões completas para cadastrar, editar e excluir profissionais e pacientes. O médico, por exemplo, pode acessar as informações dos pacientes, mas não pode cadastrar ou editar outros profissionais ou usuários do sistema, assim como o enfermeiro.</p>
                        
                        <strong>Como mudar a senha de minha conta?</strong>
                        <p>Você pode alterar sua senha na seção 'Configurações de Conta' do menu principal. Basta preencher sua senha atual e a nova senha que deseja utilizar.</p>

                        <strong>Como mudar meu e-mail?</strong>
                        <p>A alteração de e-mail deve ser feita diretamente com um administrador. Para garantir a segurança da conta, mudanças de e-mail precisam ser verificadas por um processo de autenticação.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                       Suporte Técnico
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Como posso entrar em contato com o suporte?</strong> <p>Você pode entrar em contato com o suporte técnico pela seção de 'Ajuda' no 'perfil do usuário', onde você pode enviar uma mensagem diretamente para nossa equipe.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>