<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medi-File (Ajuda)</title>
</head>
<body>
    {{#each erros}}
        <div class="alert alert-danger p-3 mt-4">{{this.text}}</div>
    {{/each}}
    <div class="container mt-1 p-2 w-50">
        <div class="card bg-light">
            <form action="/admin/help" method="post">
                <div class="card-header">
                    <h2>Entre em contato conosco!</h2>
                </div>
                <div class="card-body">
                    <div class="mb-3 mt-4">
                        <label for="nome">Nome:</label>
                        <input type="text" class="form-control" name="nome" id="nome">
                    </div>
                    <div class="mb-3 mt-4">
                        <label for="email">E-mail:</label>
                        <input type="email" class="form-control" name="email" id="email">
                    </div>
                    <div class="mb-3 mt-4">
                        <label for="exampleFormControlTextarea1" class="form-label">Mensagem: </label>
                        <textarea class="form-control" name="mensagem"  id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="card-footer d-flex w-100 p-3 justify-content-center">
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>