<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="homeBody">
    <main class="container mt-4">
        <section class="d-block w-100 justify-content-center align-items-center">
                <div class="card cardWelcome d-flex justify-content-center align-items-center  p-4 text-dark border-light-subtle">
                    <h2>Bem vido ao Medi-File, {{user.nomeuser}}!</h2><br>
                    <span id="messege"></span>
                </div>
            <div class="card-options container w-100 gap-4 mt-4">
                <div class="card-content card p-4 w-100 text-dark">
                    <div class="title-card">
                        <h2>Cadastre pacientes</h2>
                    </div>
                    <div class="icon">
                        <img src="/assets/images/cuidados-de-saude.png" alt="">
                    </div>
                    <div class="description mt-4">
                        <h3>Registre rapidamente novos pacientes com informações essenciais.</h3>
                        <div class="w-100 d-flex align-items-center justify-content-center mt-4">
                           <button onclick="openModal()" class="btn btn-success">Registrar</button>
                        </div>
                    </div>
                </div>
                <div class="card-content card p-4 w-100 text-dark">
                    <div class="title-card">
                        <h2>Gerencie Profissionais</h2>
                    </div>
                    <div class="icon">
                        <img src="/assets/images/medico.png" alt="">
                    </div>
                    <div class="description mt-4">
                        <h3>Adicione médicos e enfermeiros à sua equipe de forma simples e organizada.</h3>
                        <div class="w-100 d-flex align-items-center justify-content-center mt-4">
                            <a href="/admin/registerPro"><button class="btn btn-success">Registrar</button></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
    </main>
    {{!-- Janelas modais --}}
    {{!-- Janela modal de cadastro de paciente --}}
    <div class="windowExternal" id="windowExternal">
        <div class="windowInternal w-100" id="windowInternal">
            <div class="card cardCadPaciente bg-light p-4">
                <i class="bi bi-x-circle close" id="closeWindow"></i>
                <div class="bodyForm container p-4">
                    <div class="card bg-light p-4">
                        <form action="/admin/home" method="post">
                            <div class="mb-3">
                                <label for="nomePaciente">Nome Completo</label>
                                <input type="text" required class="form-control" name="nomePaciente" id="nomePaciente">
                            </div>
                            <div class="mb-3">
                                <label for="nomePaciente">Nome Social</label>
                                <input type="text" required class="form-control" name="nomeSocial" id="nomePaciente">
                            </div>
                            <div class="mb-3">
                                <label for="dataNascimento">Data de Nascimento</label>
                                <input type="date"required class="form-control" name="dataNascimento" id="dataNascimento">
                            </div>

                            <div class="card bg-light mb-3 p-4">
                                <label for="genero" class="form-label">Gênero</label>
                                <select class="form-select" id="genero" name="genero" required>
                                    <option value="masculino">Masculino</option>
                                    <option value="feminino">Feminino</option>
                                    <option value="outro">Outro</option>
                                </select>
                            </div>
                            <div class="card bg-light p-4 mt-4">
                                <div class="mb-3">
                                    <label for="cpf">CPF</label>
                                    <input type="text" class="form-control" name="cpf" id="cpf">
                                </div>
                            </div>
                            <div class="card bg-light p-4 mt-4">
                                <div class="mb-3">
                                    <label for="phone">Telefone</label>
                                    <input type="tel" class="form-control" name="phone" id="phone">
                                </div>
                            </div>
                            <div class="card bg-light mt-4 p-4">
                                <label for="alergias">Alergias</label>
                                <input type="text" name="alergias" id="alergias" class="form-control">
                            </div>
                            <div class="mt-4 p-4 w-100 d-flex justify-content-center">
                                <button type="submit" class="btn btn-success">Confirmar Registro</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-dark p-4 mt-4 w-100 d-flex justify-content-center">
        <a href="https://www.flaticon.com/br/icones-gratis/saude" title="saúde ícones">Saúde ícones criados por Freepik - Flaticon</a>
    </footer>

    <script src="/js/windowsHome.js"></script>
</body>
</html>