<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="bodyLogin text-light d-flex justify-content-center align-items-center" style="height: 100vh">

    {{#each erros}}
        <div class="alert alert-danger">{{this.texto}}</div>
    {{else}}

    {{/each}}
     {{!--Container com o form  --}}
    <div class="container w-50 mt-4">
        <div class="card p-4 border border-light-subtle">
            {{!-- Forms --}}
            <form class="text-dark" action="/admin/login" method="post">
                <div>
                    <h1>Faça seu login</h1>
                </div><br>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">E-mail</label>
                    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text text-dark-50">Nunca compartilharemos seu e-mail com mais ninguém.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Senha</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Lembrar de mim</label>
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
                <div class="d-flex gap-2 mt-4">
                    <a href="/admin/professional/login" class="w-100"> 
                        <button type="submit" class="btn btn-primary w-100">Clique aqui (Se caso já for nosso funcionário!)</button>
                    </a>
                </div>
                <div class="d-flex gap-2 mt-4">
                    <a href="/admin/register" class="w-100"> 
                        <button type="submit" class="btn btn-primary w-100">Não tem uma conta? faça o seu cadastro!</button>
                    </a>
                </div>
        </div>
    </div>
</body>
</html>