<div class="container mb-3 mt-4">
    <div class="card p-3 bg-dark text-light">
        <h1>E-mail verificado com sucesso!</h1>
    </div>
    <p>Agora é só entrar no link e fazer seu login com o email e senha fornecidos: <a href="profissionaisLogin.handlebars">http://localhost:8081/admin/professional/login</a></p>
</div>